<!-- src/app/app.component.html -->
<!-- <app-nav-bar></app-nav-bar> -->
 <app-nav-bar></app-nav-bar> 
<router-outlet></router-outlet> 
<!-- <app-admin-home></app-admin-home> -->

<!-- src/app/app.component.html

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Expense Management</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/group-management">Group Management</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/expense-management">Expense Management</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/expense-settlement">Expense Settlement</a>
        </li>
      </ul>
    </div>
  </nav>
  <app-user-home></app-user-home> -->
<!-- <app-all-groups></app-all-groups> -->
  <!-- <router-outlet></router-outlet> -->
  